<div class="cart_controls">
    <i class="fas fa-clipboard-list" (click)="controlSwitch('need')" 
    [ngClass]="{'controls_active':controls === 'need'}"></i>

    <i class="fas fa-shopping-bag" (click)="controlSwitch('cart')" 
    [ngClass]="{'controls_active':controls === 'cart'}"></i>

</div>

<div [ngSwitch]="controls" class="cart-grid">
  <div *ngSwitchCase="'need'">
    <div class="block-header">
      <h3>need to buy</h3>
    </div>
    <div *ngFor="let item of itemToBuy; index as i;" class="block-card" (click)="moveToCart(i)">
      <div class="block-card-inner">
        <div>{{item.item}}</div>
        <div>{{item.amount}}</div>
        <div>{{item.package}}</div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'cart'">
    <div class="block-header">
      <h3>in cart</h3>
    </div>
    <div *ngFor="let item of itemInCart; index as i;" class="block-card" (click)="moveToBuy(i)">
      <div class="block-card-inner">
        <div>{{item.item}}</div>
        <div>{{item.amount}}</div>
        <div>{{item.package}}</div>
      </div>
    </div>
  </div>
</div>