.cart_controls {
    display: flex;
    flex-direction: column;
    font-size: 50px;
    color:#d1d1d1;
    cursor: pointer;
    position: absolute;
    top: 75px;
    left: 10px;
}

.cart_controls i {
    margin-bottom: 10px;
}

.cart_controls i:hover {
    color: #686868;
}

.controls_active {
    color: #363636;
}

.cart-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 15px;
}

.block-header {
    width: 100%;
    padding: 15px 0px;
    background-color: #222222;
    color: #fafafa;
    text-align: center;
    font: 26px arial,sans-serif;
    border-bottom: 3px solid #797979;
}

.block-card-inner {
    display: grid;
    grid-template-columns: 5fr 1fr 5fr;
    font: 26px arial,sans-serif;
    text-align: left;
    padding: 10px 15px;
}

.block-card {
    background-color:  #cccccc;
}

.block-card:nth-child(even) {
    background-color:  #ebebeb;
}

.block-card :hover {
    background-color:  #4b4b4b;
    color: #fafafa;
}

@media only screen and (max-width:768px) {
    .cart_controls {
        position: relative;
        top: auto;
        left: auto;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 15px;
    }

    .cart_controls i {
        margin-bottom: 0px;
    }
}